<header class="container fluid d-flex flex-column ">
  <h1>Users</h1>
  <div class="color-dark">
    <a (click)="switch1 = true">Card View</a>
    <a  (click)="switch1 = false">List View</a>
    <a href="">New User</a>
  </div>
</header>



<div class="container-fluid"  >
  <app-users-card (delete)="deleteUsr($event)" [users]="users" *ngIf="!switch1"></app-users-card>
</div>

<div class="container-fluid">
  <app-users-list [users]="users" *ngIf="switch1"></app-users-list>
</div>


<div class="container-fluid" >
  <app-new-user></app-new-user>
</div>
