<div class="container-fluid d-flex">
    <div *ngFor="let user of users" class="card-custom">
        <img src="{{user.imageUrl}}" alt="">
        <p>{{user.name}} {{user.surname}}</p>
        <p>{{user.mail}}</p>
        <p>{{user.location.address}}</p>
        <p>{{user.orders.length}}</p>
        <a href=""></a>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </div>
    </div>


